[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
pytest = "*"
pylint = "*"
tox = "*"
pydantic = ">=0.32.2"
typing-extensions = ">=3.7.4"
bumpversion = "*"

[packages]
pydantic-jsonapi = {editable = true,path = "."}

[requires]
python_version = "3.7"
